.overflow-x-auto {
  overflow-x: auto;
}

.head-zi-image {
  overflow: hidden;
}
.head-hanzi {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 150px;
}

.component-hanzi {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 50px;
}

.vocab-hanzi {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 60px;
}

.badge-hsk-1,
.badge-hsk-1:focus {
  color: white;
  background-color: #f8b51e;
}
.badge-hsk-1-outline {
  color: #f8b51e;
  font-weight: bold;
}
.badge-hsk-2,
.badge-hsk-2:focus {
  color: white;
  background-color: #217e96;
}
.badge-hsk-2-outline {
  color: #217e96;
  font-weight: bold;
}
.badge-hsk-3,
.badge-hsk-3:focus {
  color: white;
  background-color: #ed6d05;
}
.badge-hsk-3-outline {
  color: #ed6d05;
  font-weight: bold;
}
.badge-hsk-4,
.badge-hsk-4:focus {
  color: white;
  background-color: #bb0f1a;
}
.badge-hsk-4-outline {
  color: #bb0f1a;
  font-weight: bold;
}
.badge-hsk-5,
.badge-hsk-5:focus {
  color: white;
  background-color: #1a3f76;
}
.badge-hsk-5-outline {
  color: #1a3f76;
  font-weight: bold;
}
.badge-hsk-6,
.badge-hsk-6:focus {
  color: white;
  background-color: #693668;
}
.badge-hsk-6-outline {
  color: #693668;
  font-weight: bold;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575px) {
  .head-zi-image {
    height: 486px;
  }
  .component-hanzi {
    font-size: 30px;
  }
  .vocab-hanzi {
    font-size: 36px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .head-zi-image {
    height: 510px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .head-zi-image {
    height: 450px;
  }
}
@media (min-width: 992px) {
  .head-zi-image {
    height: 730px;
  }
}
